<article class="flex_container_col about-me">
    <h2>About Me</h2>

    <div>
        Hi, thanks for stopping by. My name is Phil and I could be your JavaScript developer. I am:
        <p>✔️ capable of developing interactive UIs with vanilla JS, the React framework and its
        ecosystem.  </p>
        <p>✔️ familiar with using Node/Express.js for backend development and,</p>
        <p>✔️ MongoDB
        for database operations.</p>
    <div>

    <img
        src="https://upload.wikimedia.org/wikipedia/commons/7/78/Image.jpg"
        alt="profile pic"
    />
</article>
