<article class="flex_container_col about-me">
    <h2>About Me</h2>

    <div class="flex_container_col">
        <p>
            Hello, thanks for checking out my website. My name is Phil and I could be your
            JavaScript developer. I am:
        </p>

        <ul>
            <li>
                capable of developing interactive UIs with vanilla JS, the React framework and its
                ecosystem.
            </li>
            <li>familiar with using Node/Express.js for backend development and,</li>
            <li>MongoDB for database operations.</li>
        </ul>
    </div>

    <img
        class="profile_pic"
        src="https://upload.wikimedia.org/wikipedia/commons/7/78/Image.jpg"
        alt="profile pic"
    />
</article>
