<article class="flex_container_col">
    <section class="contact-section">
        <div class="flex_container_row">
            <img
                src="svg/github.svg"
                alt="github icon"
                width="32"
                height="32"
            />
            <img
                src="svg/linkedin.svg"
                alt="linkedin icon"
                width="32"
                height="32"
            />
            <img
                src="svg/discord.svg"
                alt="discord icon"
                width="32"
                height="32"
            />
        </div>
    </section>
</article>
