<article>
    <section class="contact-section">
        <ul class="contact_flex_container_row">
            <li>
                <a href="">
                    <img
                        class="svgA"
                        src="svg/github.svg"
                        alt="github icon"
                        role="img"
                        width="32"
                        height="32"
                    />
                </a>
            </li>
            <li>
                <a href="">
                    <img
                        class="svgB"
                        src="svg/linkedin.svg"
                        alt="linkedin icon"
                        role="img"
                        width="32"
                        height="32"
                    />
                </a>
            </li>
            <li>
                <a href="">
                    <img
                        class="svgC"
                        src="svg/discord.svg"
                        alt="discord icon"
                        role="img"
                        width="32"
                        height="32"
                    />
                </a>
            </li>
        </ul>
    </section>
</article>
