<article>
    <h2>Contact</h2>
    Here I want to display a contact section that contains icons for LinkedIn, Discord and Email.
    Can maybe scoped further to integrate a contact form with recaptcha.
</article>
