<header>
    <nav class="flex_container_col">
        <ul class="nav_list_container">
            <li>
                <a href="#about-me-section">About Me</a>
            </li>

            <li>
                <a href="#projects-section">Projects</a>
            </li>
        </ul>
    </nav>
</header>
