<article class="projects-section">
    <h2><%= pageTitle %></h2>

    <div class="flex_container_col">
        <p class="projects_text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel impedit nemo aspernatur
            qui delectus atque voluptates nam totam. <br />
            In perspiciatis pariatur odio molestias dignissimos ex nulla repellat asperiores
            suscipit voluptatibus!
        </p>
    </div>

    <section>
        <div class="project_flex_container_col">
            <% for (const project of projects) { %>
            <a
                href="/"
                class="project_flex_item_col"
            >
                <div class="project_info">
                    <p class="project_flex_item"><%= project.title %></p>
                    <p class="project_flex_item"><%= project.description %></p>
                </div>
            </a>
            <% } %>
        </div>
    </section>
</article>
