<article class="projects-section">
    <div class="flex_container_col">
        <h2><%= pageTitle %></h2>
    </div>

    <section class="flex_container_col projects_text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel impedit nemo aspernatur
            qui delectus atque voluptates nam totam. <br />
            In perspiciatis pariatur odio molestias dignissimos ex nulla repellat asperiores
            suscipit voluptatibus!
        </p>
    </section>

    <section>
        <div class="project_flex_container_col">
            <% for (const project of projects) { %>
            <a
                href="/<%= project.id %>"
                class="project_info_link"
            >
                <div class="project_info_grid">
                    <p class="project_info_title"><%= project.title %></p>
                    <p class="project_info_description"><%= project.description %></p>
                    <img
                        class="project_info_icon"
                        src="svg/box-arrow-up-right.svg"
                        alt="external link"
                        width="32"
                        height="32"
                    />
                </div>
            </a>
            <% } %>
        </div>
    </section>
</article>
