<article class="flex_container_col projects-section">
    <h2><%= pageTitle %></h2>

    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel impedit nemo aspernatur
            qui delectus atque voluptates nam totam. In perspiciatis pariatur odio molestias
            dignissimos ex nulla repellat asperiores suscipit voluptatibus!
        </p>
    </div>

    <section>
        <div class="grid_container_col">
            <% for (const project of projects) { %>
            <div class="project_card flex_container_row">
                <p class="project_title"><%= project.title %></p>
                <p class="project_description"><%= project.description %></p>
            </div>
            <% } %>
        </div>
    </section>
</article>
