<article>
    <h2>Projects</h2>
    Here I want to display three projects in grid format. Each project should have a card that
    contains <b>title, image and brief description</b>
    The card should be clickable, and should navigate to a dynamic route where the user can view the
    project in greater detail.
</article>
